@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    padding: .4rem;
    background: #fafdff;
    color: #383838;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header .nav-container {
    display: flex;
   /* Keeps the left and right alignment for the first and third columns */
    align-items: center; /* Vertically centers the content */
    width: 100%; /* Ensures the container spans the full width of the header */
}


.first-column {
    width: 34%;
}

.second-column {
    /* To center the header content, ensure it's also a flex container */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.third-column {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    width: 33%;
    padding-right: 3rem;
}

/* Adjust the profile and notification sections within the third column */
.profile {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-end; /* Aligns items to the start of the container */
}
/* Modal Content/Box */

/* Ensure the modal itself covers the entire viewport */
.profile-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Ensure the modal content also stretches accordingly */
.profile-modal-content {
    display: flex; /* This makes it a flex container */
    flex-direction: column; /* Stack children vertically */
    min-height: 700px; /* Minimum height to fill the modal */
    background-color: #fefefe;
    margin: 4rem auto auto;
    padding: 20px;
    border: 1px solid #888;
    width: 950px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* For the modal body, ensure it can expand to fill the content area */
.profile-modal-body {
    flex: 1; /* Allows this element to expand and fill the available space */
    display: flex; /* Makes it a flex container too */
}

/* Adjust container-fluid within the modal body for full height */
.profile-modal-body .container-fluid {
    flex: 1; /* Let it expand */
    padding: 20px;
    display: flex; /* To support child flex items properly */
}

/* The .modal-profile-info adjustments remain the same */
.modal-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
}

.modal-profile-info h2 {
    margin-bottom: 10px;
}
.modal-profile-info p {
    margin: 1px;
}

.modal-pro-column-image {
    flex: 1; /* Let it expand */
    display: flex; /* To support child flex items properly */
    justify-content: center;
    align-items: center;
    height: 100%;
     width: 100%;
}

.modal-profile-image {
    width: 100%;
    padding: 20px; /* Padding around image */
    object-fit: cover; /* Ensure the image fills the container */
}

/* End Profile Modal Styles */
.header-profile-image-wrapper {
    flex-shrink: 0; /* Prevents the flex item from shrinking */
    flex-basis: 40px; /* Gives a starting point before remaining space is distributed */
    min-width: 40px;
    min-height: 40px;
    display: inline-flex; /* Adjusted to inline-flex for better centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.header-profile-image {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.notification-link {
    color: white; /* Set the default text color to white */
    text-decoration: none; /* Optional: Removes the underline from links */
}

.notification-link:hover {
    background-color: lightblue; /* Light blue background on hover */
    color: black; /* Optional: Change text color on hover if needed */
}

.profile-text {
    width: 100%;
}
.nf-all {
     order: 2; /* Reverses the order of the notification icon and the profile picture */

}

#nf-n {
    position: absolute;
    top: 5px;
    color: white;
    z-index: 4;
    background-color: #fb2323ca;
    border-radius: 20px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    line-height: 20px;
}

.nf-message {
    position: absolute;
    top: 4rem;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 7px;
    background-color: rgba(36, 43, 51, 0.955);
    color: white;
    padding-bottom: 10px;
    right: 1rem;
}
  
/* AQMessenger Styles Start */
.contacts-list a {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.contacts-list a:hover {
    background-color: #dfeffc; /* Light grey background on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #007bff; /* Optional: Change text color on hover */
}

.form-floating .contact-search {
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for transform and color */
}

.form-floating .contact-search:hover {
    color: #007bff;
    cursor: pointer;
    transform: scale(1.3); /* Increase size by 10% on hover */
}

.contacts-list a .status-dot {
    font-size: 10px; /* Adjust size as needed */
}

.contacts-list a .status-online {
    color: green;
}

.contacts-list a .status-offline {
    color: grey;
}

.contacts-list a .status-dnd { /* Do not disturb */
    color: red;
}

.contacts-list a .status-away {
    color: yellow;
}

.contacts-list a .status-dot.offline {
    color: #adadad;
}

.contacts-list .status-message {
    color: #adadad;
    font-size: 15px;
    margin-left: 5px;
}
.contacts-list .status-message.none {
    display: none;
}

/* Chat Area Styles */
.chat-area .back-icon {
    display: inline-flex; /* Make it flex to center the icon and allow transform */
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    color: #313a46;
    padding-right: 1rem;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for transform and color */
}

.chat-area .back-icon:hover {
    color: #007bff;
    cursor: pointer;
    transform: scale(1.3); /* Increase size by 10% on hover */
}


.chat-area {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(39, 39, 39);
    align-items: flex-start;
    border-bottom: 1px solid #e0e0e0;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #ecf4ff;
    overflow-y: auto;
    padding: 10px;
}

.chat-box .chat-box-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.chat-box .chat-box-content::-webkit-scrollbar {
    display: none; /* For WebKit browsers like Chrome and Safari */
}

.chat-box-message {
    align-self: flex-start;
    color: #575757;
    background-color: #ffffff;
    word-wrap: break-word;
    max-width: 15rem;
    margin: 0;
    padding: .3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    border: 1px solid #c0c0c0;
}

.chat-box-message.outgoing {
    align-self: flex-end;
    color: #ffffff;
    background-color: #313a46;
    word-wrap: break-word;
    margin: 0;
    padding: .5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.chat-box-message-time p{
    font-size: 10px;
    color: #adadad;
    bottom: 0;
    text-align: start;
    margin:0;
    padding:0;
}

.chat-box-message-text p{
    font-size: 14px;
    bottom: 0;
    text-align: start;
    margin:0;
    padding:0;
}
.chat-box-input .chat-input-icon { 
    background-color: white;
    color: #313a46;
    padding: 10px;
    transition: color 0.3s ease; /* Smooth transition for color */
}

.chat-box-input .chat-input-icon:hover {
    color: #007bff;
    cursor: pointer;
}
/* AQMessenger Styles End*/

body {
    background: #3b3c4717;
}

.shine {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
    overflow: hidden;
    color: #4b4b4b;
    background: linear-gradient(45deg, #ffffff, #dbc926, #000, #000, #000, #000, #000, #000, #000, #999999, #999999, #f5f9ff);
    background-repeat: repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 253, 253, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

.profile-text-blue {
    color: blue;
    /* Add any additional styling you want here */
}


.profile-menu {
    display: none;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    list-style: none;
    position: absolute;
    margin-right: 4rem;
    top: 2.7rem;
    right: 0;
}

.profile:hover .profile-menu {
    display: block;
}
.profile li a:hover {
    color: darkblue;
    font-weight: 600;
}
/* Container Styles */
.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 4rem;
}

/* Content Styles */
.content {
    flex: 1;
    display: flex;
    gap: 20px;
    background: #fafdff;
    justify-content: center;
    max-width: 100%;
}

/* Footer Styles */
.footer {
    background: #fafdff;
    color: #383838;
    text-align: center;
    padding: 1px;
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}


    .footer p {
        margin: 0;
        padding: 0.2rem;
    }

    /* Data Card Styles */
    .datacard-1,
    .datacard-2,
    .datacard-3 {
        flex: 1;
        background: #fff;
        height: 100px;
        text-align: center;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 15px 0 rgba(0, 0, 0, 0.10);
    }

    /* Font Styles */
    @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
    .fa-2x {
        font-size: 2em;
    }
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    }

        /* Sidebar Styles */
        .sidebar {
            display: flex;
            flex-direction: column;
            width: 50px;
            background: #313a46;
            color: #fff;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 4;
            overflow: hidden;
            transition: width 0.3s;
        }
        
        .logout {
            margin-top: auto;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px 0;
            font-family: arial;
        }
        .sidebar a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px 0;
        }

        .sidebar a:hover {
            background-color: #37709e;
        }

        .sidebar.expanded {
            width: 200px;
        }

        .sidebar > ul {
            margin: 7px 0;
            overflow: hidden;
        }

        .sidebar li {
            position: relative;
            display: block;
        }

        .sidebar li > a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: #ffff;
            font-family: arial;
            font-size: 16px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1, 1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }

        .sidebar .nav-icon {
            position: relative;
            display: table-cell;
            width: 60px;
            height: 36px;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
        }

        .sidebar .nav-text {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            width: 190px;
            font-family: 'Titillium Web', sans-serif;
            display: none;
        }

        .sidebar.expanded .nav-text {
            display: table-cell;
        }
/* Sidebar Archives Summary Styles Start*/
summary {
    cursor: pointer;
    display: flex;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;
}

summary:before {
    font-family: 'Font Awesome\ 6 Free';
    font-size: large;
    content: '\f054';
    font-weight: 900;
    margin-right: 64px; /* Adjust the space between the arrow and the text */
    display: inline-block;
    padding-left: 15px;
}

details[open] summary:before {
    font-family: 'Font Awesome\ 6 Free';
    font-size: large;
    content: '\f078';
    font-weight: 900;
}
/* Sidebar Archives Summary Styles End*/
    /* Miscellaneous Styles */
    .sidebar>ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .sidebar li:hover>a,
    nav.main-menu li.active>a,
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus,
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:hover,
    .dropdown-menu>.active>a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        background-color: #37709e;
    }

    .area {
        float: left;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
    }

    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitilliumWeb-Light'),
        url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
    }

    #toggleButton {
        background-color: #122f4600;
        border: solid #122f4600;
        color: #fff; /* Light blue text color */
        border-radius: 25px;
        padding: 1px;
        font-size: 10px;
        cursor: pointer;
    }

    .toggle-button-container {
        display: flex;
        flex-direction: column; /* Change to column direction to place the button at the top */
        align-items: center;
        padding: 10px; /* Add padding to the top of the container */
    }

    #toggleButton:hover {
        color: #e6eaff; /* White text color on hover */
        border: 1px solid #7095da;
    }

    .shine {
        
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 4px;
        font-weight: bold;
        overflow: hidden;
        color: #4b4b4b;
        background: linear-gradient(45deg, #ffffff, #dbc926, #000, #000, #000, #000, #000, #000, #000, #999999, #999999, #f5f9ff);
        background-repeat: repeat;
        background-size: 80%;
        animation: animate 10s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 253, 253, 0);
    }

    @keyframes animate {
        0% {
            background-position: -500%;
        }
        100% {
            background-position: 500%;
        }
    }

    .display-picture {
        margin-left: 10px;
    }

    .display-picture img:hover {
        border: 2px solid #417be7;
    }

    .card {
        transition: 0.5s ease;
    }

    .card ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 4rem;
        right: 0rem;
        border-radius: 10px;
        padding: 10px 50px 10px 20px;
    }

    .card ul li {
        padding: 5px 0;
        color: #4d4d4d;
        font-size: 14px;
    }

    .hidden {
        display: none;
    }

    a {
        text-decoration: none;
        color: #2b2b2b;
    }

    /* Table Animation */
    .active > .page-link {
        background-color: #0087ca;
        color: #fff;
    }

    /* Text Animation */
    .textAnimation {
        width: 100px;
        height: 100px;
        font-size: 30px; /* Adjust the font size as needed */
        color: #0087ca; /* Set the initial color of the letter */
        text-align: center;
        line-height: 100px; /* Vertically center the text */
        position: relative;
        font-weight: bold;
        animation-name: example;
        animation-duration: 3s;
    }

    @keyframes example {
        0% { color: #02344d; left: 205px; top: 0px; }
        30% { color: #034d72; left: 205px; top: 25px; }
        65% { color: #025680; left: 0px; top: 25px; }
        100% { color: #0272aa; left: 0px; top: 0px; right: 5px; }
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #0087ca;
    }

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .queue-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ticket {
        width: 110px;
        height: 210px;
        background-color: #007BFF;
        color: #FFF;
        text-align: center;
        border-radius: 5px;
        border: .5px solid #cdcfd3;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: queue-animation 5s infinite;
    }

    .ticket img {
        max-width: 10rem; /* Ensure the SVG image doesn't exceed its container */
        padding: 2rem;
    }

    @keyframes queue-animation {
        0% {
            background-color: #007bff3f;
        }
        50% {
            background-color: #22f8ff46;
        }
        100% {
            background-color: #007bff42;
        }
    }
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    text-align: center;
     z-index: 9999;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

.btn-menu {
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  z-index: -1;
  padding: .5rem;
}

.title-table {
  border-bottom: 1px solid #818181;
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.btn-menu span {         
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 1rem;
    transition: 0.1s;
  }

/* GENERAL BUTTON STYLING */
.btn-menu,
.btn-menu::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}


.btn-menu:hover {
  color: #fff;
  background: #313a46;
}

.btn-menu-1:hover {
  color: #fff;
  background: #313a46;
}

/* BUTTON 2 */
.btn-1::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-1:hover:after {
  width: 100%;
}

form .forgot-password-link:hover {
    color: rgb(43, 68, 150);
    background: rgb(246, 249, 252);
    border: .5px solid rgb(200, 202, 204);
    /* You can add additional styles for the hover effect if needed */
}